apiVersion: v1
kind: Secret
metadata:
  name: regcred
  namespace: default
type: kubernetes.io/dockerconfigjson
data:
  # Example: create this secret using kubectl create secret docker-registry ...
  .dockerconfigjson: "REPLACE_WITH_BASE64_DOCKERCONFIGJSON"
